@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Fundo-Preto:#0D0B14;
    --Cards:#1E1B29;
    --Bordas:#312E41;
    --Texto-Principal:#F5F3FF;
    --Texto-Secundário:#A78BFA;
    --Roxo-P:#BD34FE;
    --Roxo-S:#6D28D9;
}

body{
    background-color: var(--Fundo-Preto);
    font-family: "Inter", sans-serif;
}

header{
    background-color: var(--Cards);
    height: 15vh;
    width: auto;
    border: solid 7px #312E41;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.img{
    width: 11rem;
    height: 15vh;
    margin-left: 2rem
}

#img{
    width: 11rem;
    height: auto;
}

.highlights{
    width: 22rem;
    margin-left: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top{
    font-size: 1.5rem;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--Roxo-P);
    transition: all 0.5s ease;
}
.top:hover{
    transform: translateY(-3.5px) scale(105%);
}

#separacao{
    font-size: 2rem;
    color: var(--Roxo-S);
}

nav{
    margin-right: 2rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.list{
    display: inline-block;
    font-size: 1.5rem;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--Texto-Principal);
    transition: all ease 0.5s;
}
.list:hover{
    transform: translateY(-3.5px) scale(105%);
}


.card{
    padding-top: 2rem;
    width: 97vw;
    height: auto;
    border: solid 4px #312E41;
    border-radius: 15px;
    margin: 2rem auto;
    background-color: var(--Cards);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Parte de ícone e nome do usuário*/
.photo-card{
    width: 36%;
    height: auto;
    border: solid 3px white;
    border-radius: 2rem;
    margin-bottom: 4rem;
}

.profile{
    height: 8vh;
    display: flex;
    align-items: center;
    color: var(--Texto-Secundário);
    padding-left: 1rem;
    font-size: 1.2rem;
}

.nameProfile{
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}
.nameProfile:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

.photoProfile{
    height: 6vh;
    width: 3vw;
    border: solid 2px #6D28D9;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
#photoProfile{
    height: 5vh;
    width: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#photoProfile:hover{
    cursor: pointer;
}
#verificar{
    height:4.5vh;
    width: auto;
    margin-left: 5px;
}

/*Parte de posts*/
.post{
    background-color: var(--Bordas);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos{
    width: 98%;
    height: 98%;
}

/*Icones de likes e comentários*/
.likes{
    height: 8vh;
    display: flex;
    align-items: center;
    
}
.likes img{
    height: 100%;
    width: 100%;
    filter: invert(99%) sepia(1%) saturate(1450%) hue-rotate(189deg) brightness(102%) contrast(94%);
}

.icons{
    height: 5vh;
    padding-left: 1.5rem;
    transition: all 0.3s ease;
}
.icons:hover{
    cursor: pointer;
    transform: scale(105%) translateY(-3px);
}

.contador{
    padding-left: 5px;
}

.num{
    font-size: 1.3rem;
    color: white;
}

/*Descrição e comentários*/
.comments{
    height: auto;
}

.description{
    display: flex;
    height: auto;
    color: var(--Texto-Principal);
}

.description-name{
    padding-top: 1rem;
    padding-left: 1rem;
}

.description-text{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.view-more-btn {
    color: #aaa;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}

.view-more-btn:hover {
    color: #fff;
    text-decoration: underline;
}


/*Novo post*/
.newPost{
    color: var(--Texto-Principal);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    border: solid 2px white;
}

.newPost img{
    height: 100%;
    filter: invert(99%) sepia(1%) saturate(1450%) hue-rotate(189deg) brightness(102%) contrast(94%);
}


